.book {
  &-section {
    text-align: center;
    color: var(--off-white);
    padding-top: 20px;
    padding-bottom: 20px;

    background-image: url("/public/img/background04.png");
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
  }
  &-title {
    font-size: 32px;
    padding-top: 40px;
  }
}

.author {
  font-size: 18px;
  padding: 8px 0;
}
.description {
  text-align: start;
  padding: 8px 40px;
  &-p {
    padding: 0 12px;
  }
  &-title {
    margin-bottom: 12px;
    font-size: 20px;
    border-bottom: 1px solid var(--off-white);
  }
}
.article {
  text-align: start;
  font-size: 20px;
  padding: 60px 12px;
  line-height: 1.8;
  p {
    margin-bottom: 20px; /* 段落之間的距離，可依需求調整 */
  }
}

.toc-btn {
  background-image: url("/public/img/nyarchive.svg");
  height: 60px;
  width: 60px;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  position: fixed;
  right: 20px;
  top: 100px;
  font-size: 32px;
  cursor: pointer;
  z-index: 40;
  background-color: transparent;
  border: none;
}

.toc {
  position: fixed;
  right: -280px;
  top: 160px;
  width: 200px;
  height: 65vh;
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 30;
  text-align: center;
  overflow-y: auto;
}

.toc.open {
  right: 20px;
}

.toc-close {
  background: none;
  border: none;
  color: var(--off-white);
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}
.sidebar-title {
  color: var(--off-white);
  font-size: 20px;
  margin-bottom: 12px;
}
.toc-list {
  margin-bottom: 12px;
  padding: 8px;
  width: 100%;
}
