.cp-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  background-color: var(--dark-green);
}

.cp-page-box {
  display: flex;
}

.book-box {
  // background-color: var(--color-surface-theme);
  // width: 55%;
  height: auto;
  border: 2px solid var(--color-surface-theme);
  border-radius: 8px;
  padding: 32px;
  margin: 8px;
  cursor: pointer;
  color: var(--color-primary);
}
@media (max-width: 768px) {
  .book-box {
    width: 80%;
  }
}
.cp-tag {
  border-bottom: 2px solid var(--color-surface-theme);
  margin-bottom: 12px;
  margin-top: 12px;
  display: flex;
  padding-bottom: 8px;
}
.tag {
  margin-right: 8px;
  background-color: var(--color-surface-theme);
  // color: var(--brown);
  padding: 2px 16px;
  border-radius: 24px;
  font-size: 14px;
}
.cp-description {
  color: var(--off-white);
  white-space: pre-line;
}

.cp-nav {
  color: var(--off-white);
  font-size: 20px;
  span {
    padding-left: 8px;
  }
}
.word-title1 {
  color: var(--color-text-subtle);
  font-size: 20px;
  font-weight: 600;
}

.cp-list {
  flex: 0 0 150px; /* 寬度最小150px，能自動換行 */
  background-color: var(--color-surface-theme);
  margin: 8px;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--off-white);
  cursor: pointer;
}

.tage-box {
  // background-color: var(--color-surface-theme);
  // width: 55%;
  height: auto;
  border: 2px solid var(--color-surface-theme);
  border-radius: 8px;
  padding: 32px;
  margin: 8px;
  color: var(--color-primary);
}

.bg {
  background-image: url("/public/img/background02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
