.cp-section {
  min-height: 100vh;
  background-color: var(--dark-green);

  background-image: url("/public/img/background04.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

.cp-card {
  display: grid;
  grid-template-columns: 9fr 3fr; /* 9:3 分配 */
  gap: 24px;
  width: 100%;
  &__title {
    color: var(--color-text-subtle);
    font-size: 20px;
    font-weight: 600;
  }
  &__tag {
    border-bottom: 2px solid var(--color-surface-theme);
    margin-bottom: 12px;
    margin-top: 12px;
    display: flex;
    padding-bottom: 8px;
  }
  .tag {
    margin-right: 8px;
    background-color: var(--color-surface-theme);
    // color: var(--brown);
    padding: 2px 16px;
    border-radius: 24px;
    font-size: 14px;
  }
  .cp-description {
    color: var(--off-white);
    white-space: pre-line;
  }
}

.nav-item {
  display: flex;
  justify-content: space-between;
}

.cp-tag__list {
  // flex: 0 0 150px;
  padding: 12px;
  margin: 8px;
}

.cp-tag__title {
  color: var(--off-white);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .cp-card__box2 {
    display: none;
  }
  .cp-card {
    display: block;
  }
}

.tag-toggle-btn {
  display: none;
}

@media (max-width: 768px) {
  .tag-toggle-btn {
    display: block;
    // position: fixed;
    // top: 16px;
    // right: 16px;
    padding: 10px 16px;
    border-radius: 12px;

    // background: rgba(255, 255, 255, 0.12);
    // border: 1px solid rgba(255, 255, 255, 0.25);
    // backdrop-filter: blur(10px);

    color: var(--off-white);
    // font-size: 16px;
    // z-index: 1001;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  right: -260px; /* 初始隱藏 */
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  pointer-events: auto !important;

  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  right: 0; /* 展開 */
}

.sidebar-close {
  background: none;
  border: none;
  color: var(--off-white);
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sidebar-title {
  color: var(--off-white);
  font-size: 20px;
  margin-bottom: 12px;
}

.sidebar-tags {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 20px;
}
.page-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.page-mask.open {
  opacity: 1;
  pointer-events: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 90%;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  margin-top: 20px;
  margin-bottom: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}
