/* ===========================
   首頁主區塊：背景（主題牆）
   =========================== */
.theme-section {
  background-image: url("/public/img/background01.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

/* ===========================
   HERO 主視覺 banner
   =========================== */
.hero-banner {
  height: 300px;
  background-image: url("/public/img/banner02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ===========================
   Slogan 區塊
   =========================== */
.homepage-slogan {
  color: var(--color-accent-theme);
  text-align: center;
  font-size: 24px;
  font-family: "Gabriela";
  padding: 12px 0;
}

.theme-card {
  padding-bottom: 80px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
  }

  &__item {
    flex: 0 0 150px;
    padding: 12px;
    margin: 8px;
  }
}

// /* ===========================
//    RWD
//    =========================== */
// @media (max-width: 768px) {
//   .theme-card__list {
//     justify-content: center;
//   }
// }
