.theme-page {
  background-color: var(--color-bg-theme);
  color: var(--color-text-theme);
}

.banner{
  background-image: url("/public/img/banner.jpg");
  height: 300px;
  background-size: cover;
  background-position: center; /* 縮放時保持中心點 */
  background-repeat: no-repeat; /* 避免重複 */
}
.theme-slogan{
  color: var(--color-accent-theme);
  text-align: center;
  font-size: 24px;
  font-family: "Gabriela";
  padding: 12px 0;
}


.theme{
  padding-top: 80px;
  padding-bottom: 80px;
}

.theme-title{
  padding-bottom: 16px;
  text-align: center;
  color: var(--dark-green);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 48px;
  border-bottom: 3px solid var(--color-accent-theme);
}

.theme-ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.theme-list{
  width: 23%;
  // border: 1px solid var(--color-text-theme);
  background-color: var(--color-surface-theme);
  margin: 8px;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-bg-theme);
  cursor: pointer;
}

.jc-center{
  display: flex;
  justify-content: center;
}
