.book-box{
  // background-color: var(--color-surface-theme);
  width: 60%;
  height: auto;
  border: 2px solid var(--color-surface-theme);
  border-radius: 8px;
  padding: 32px;
  margin: 24px;
  cursor: pointer;
  color: var(--color-primary);
}

.word-title{
  color: var(--color-text-subtle);
  font-size: 24px;
  font-weight: 600;
}

.bookpage{
  color: var(--off-white);
  background-color: var(--main-green);
  font-weight: 600;
}
.bookpage2{
  color: var(--main-green);
  background-color: var(--off-white);
  font-weight: 600;
}
.bookpage1{
  color: var(--off-white);
  background-color: var(--dark-green);
  font-weight: 600;
}