/* =========================================
   Word Page 主內容區
   ========================================= */
.word-section {
  min-height: 100vh;

  background-image: url("/public/img/background03.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/* =========================================
   主題卡片（整個頁面的 Section）
   ========================================= */

.word-card {
  padding-bottom: 80px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
  }

  &__item {
    flex: 0 0 200px;
    padding: 30px 12px;
    margin: 8px;
  }
}

/* =========================================
   RWD — 手機版調整
   ========================================= */
// @media (max-width: 768px) {
//   .word-card__item {
//     justify-content: center;
//   }
// }
