.word-title {
  color: var(--color-text-subtle);
  font-size: 20px;
  font-weight: 600;
}

.bookpage {
  color: var(--off-white);
  background-color: var(--main-green);
  font-weight: 600;
}
.bookpage2 {
  color: var(--main-green);
  background-color: var(--off-white);
  font-weight: 600;
}
.bookpage1 {
  color: var(--off-white);
  background-color: var(--dark-green);
  font-weight: 600;
}

.word-list {
  position: relative; /* 讓子層可用絕對定位 */
  // width: 23%;
  // border: 1px solid var(--color-text-theme);
  flex: 0 0 300px; /* 寬度最小150px，能自動換行 */
  height: 300px;
  // max-width: 200px;
  // background-color: var(--color-surface-theme);
  margin: 8px;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--off-white);
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 768px) {
  .theme-ul {
    justify-content: center;
  }
}

.card-bg {
  // position: absolute;
  top: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  // object-fit: cover; /* 保持比例鋪滿 */
  z-index: 0;
  filter: brightness(0.7) blur(2px); /* 稍微暗一點＋模糊 */
}
.card-content {
  position: relative;
  z-index: 2;
  margin-bottom: 12px;
}
