*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  line-height: var(--line-height-body);
  font-size: var(--font-size-body);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-body);
  background-color: var(--dark-green);
  color: var(--color-text);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.02em;
}

p {
  letter-spacing: 0.02em;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 120px;
  padding-bottom: 40px;
}

strong {
  font-weight: bold !important;
}
