.header {
  padding: 12px;
  font-size: 20px;
  display: flex;
  color: var(--dark-green);
  font-weight: 700;
}

.logo {
  font-size: 24px;
  padding-right: 4px;
}
.navLink {
  display: flex;
  font-family: "Gabriela";
  align-items: center;
}
