@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Gabriela&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Quicksand:wght@300..700&display=swap');





@import './utils/mixins.scss';

@import './base/reset';
@import './base/base';
@import './base/color';

@import './layout/header.scss';
@import './layout/footer.scss';

// @import './pages/index.scss';

@import './pages/home.scss';
@import './pages/wordPage.scss'